* { box-sizing: border-box }
body {
    margin: 0;
    background-image: linear-gradient(rgb(0, 255, 98),green);
    font-family: 'Courier New', Courier, monospace;
}
.liturmidja{
    background-image: linear-gradient(green,rgb(0, 255, 98))
}
.topnav{
    text-align: right;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: right;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}
blockquote{
    background: rgba(43, 173, 167, 0.7);
}
.verkefni{
    text-align: right;
}
header{
    margin-top: 20px;
    margin-bottom: 40px;
}
.container {
    max-width: 60em; 
    margin: 0 auto; 
    padding: 0;}

.col-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em
}
.copy{
    text-align: center;
}
.or{
    position: fixed;
    right: 30px;
    bottom: 20px;

    background:rgb(112, 8, 81);
    height: 50px;
    width: 50px;
    border-radius: 50%;

    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    color: rgb(221, 138, 30);
}
a:active{
    color: red;
}
a:hover{
    color: violet;
}
a:active{
    color: purple;
}
.innermenu a:link{
    background-color: rgb(54, 116, 230);
    padding: 14px 25px;
    text-align: center;
}
.topnav{
    margin-bottom: 20px;
}