@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap');
body{
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-areas:
    "haus"
    "vinstri"
    "midja"
    "haegri"
    "bless"
    "valmynd"
}
.header{
    grid-area: haus;
    background-color: black;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    font-size: 25px;
}
.navti{
    grid-area: valmynd;
    border: 2px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.box{
    border-bottom: 2px solid black;
    background-color: whitesmoke;
    font-size: 1.2em;
    height: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
}
.article{
    grid-area: vinstri;
    border: 2px solid black;
    padding: 15px;
}
.main{
    grid-area: midja;
    border: 2px solid black;
    padding: 15px;
}
.aside{
    grid-area: haegri;
    border: 2px solid black;
    padding: 15px;
}
.next{
    grid-area: bless;
    border: 2px solid black;
    padding: 15px;
}
.texti{
    border: 2px solid black;
    padding: 10px;
    margin: 30px;
}
.footer{
    grid-area: fotur;
    border: 2px solid black;
    display: grid;
    flex-flow: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
.orð{
    color: white;
}
.mynd{
    width: 480px;
    height: 480px;
}
p{
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-family: 'Raleway', sans-serif;
    color: white;
}
h2{
    font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 37em){
    body{
    display: grid;
    grid-template-areas: 
    "valmynd valmynd valmynd valmynd"
    "haus haus haus haus"
    "midja midja midja midja"
    "vinstri vinstri haegri haegri"
    "bless bless bless bless";
}
.navti{
    grid-area: valmynd;
    border: 2px solid black;
    display: flex;
    flex-flow: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
.box{
    background-color: white;
    border-bottom: 0px;
    font-size: 1.2em;
    height: 1em;
}
@media screen and (min-width: 48em){
    body{
    display: grid;
    grid-template-areas:
    "haus haus haus haus"
    "valmynd valmynd valmynd valmynd"
    "haegri haegri midja midja"
    "vinstri vinstri bless bless";
}